@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the "Cockpit" feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; /* Slate-900 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* Slate-700 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569; /* Slate-600 */
}